{
  "version": "2018-05-29",
  "payload": {
    "id": $util.toJson($context.source.id),
    "status": $util.toJson($context.source.status),
    "classification_result": $util.toJson($context.source.classification_result),
    "name": $util.toJson($context.source.name),
    "uploaded_at": $util.toJson($context.source.uploaded_at),
    "image": $util.toJson($context.source.image)
  }
}
