{
  "version": "2017-02-28",
  "payload": {
    "id": $util.toJson($context.arguments.id),
    "status": $util.toJson($context.arguments.status),
    "name": $util.toJson($context.arguments.name),
    "classification_result": $util.toJson($context.arguments.classification_result),
    "uploaded_at": $util.toJson($context.arguments.uploaded_at),
    "image": $util.toJson($context.arguments.image)
  }
}