opencv-python-headless==4.6.0.66
torch==1.9.0
sentencepiece==0.1.97
Pillow==9.3.0
sacremoses==0.0.43
scikit-image==0.19.3
datasets==2.8.0
debugpy==1.6.4
entrypoints==0.4
executing==1.2.0
fastjsonschema==2.16.2
fqdn==1.5.1
ipykernel==6.19.4
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
jedi==0.18.2
terminado==0.17.1
tifffile==2022.10.10
tinycss2==1.2.1
tornado==6.2
webencodings==0.5.1
websocket-client==1.4.2
widgetsnbextension==4.0.5
huggingface-hub==0.11.1
tensorflow==2.10.0rc0
boto==2.49.0